.header-menu{
    background-color: #14127b;
    color: #fff;
    font-size: 18px;
}
.espaco-topo{
    margin-top: 55px;
    color: #fff;
}
.logo-small {
    color: #1aad72;
    font-size: 20px;
}

.logo {
    color: #1aad72;
    font-size: 500px;
}